header {margin: 12px; background-color: grey; border: 1px solid grey; color: white; font-family: sans-serif; padding-left: 5px}

nav {margin: 12px; border: 1px solid grey; padding: 10px; font-family: sans-serif; margin-top: 3px; margin-bottom: 3px}

h2 {font-family: sans-serif}

article {margin: 12px; border: 1px solid grey; padding-left: 5px; font-family: sans-serif}

section {border: 1px solid grey; margin: 6px; padding-left: 8px; padding-top: 5px; padding-bottom: 10px}

footer { margin: 12px 11px; background-color: grey; border: 1px solid grey; color: white; font-family: sans-serif}

a {margin: 8px; font-family: sans-serif}

address {margin: 10px}
