header {border: 1px solid grey}

body {font-family: sans-serif}

article {border: 1px solid grey; padding: 5px; margin-top: 5px}

section {border: 1px solid grey; padding: 5px}

p {border-top: 1px solid lightgrey; padding-top: 5px}

input{border-top: 1px solid grey; margin: 5px}

hr{color: grey}

footer {border: 1px solid grey; padding: 5px; margin-top: 5px; font-family: sans-serif}
